* text=auto
*.ts text eol=lf
*.mjs text eol=lf
*.py text eol=lf
*.ps1 text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.html text eol=lf
*.css text eol=lf
LICENSE text eol=lf
*.png binary
*.jpg binary
*.mp4 binary
*.onnx binary
*.tflite binary
